extends layout

block content
  div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='#').brand #{title}
            div.nav-collapse
                ul.nav
                    li.active
                        a(href='/') Home
                    li
                        a(href='/') Bestsellers
                    li
                        a(href='/') Contact

   #this-carousel-id.carousel.slide

      .carousel-inner
        .item.active

          h1#header Check out the latest brands
          img(src='#{indexResults[1].LargeImage[0].URL[0]}')
          p
            a.btn-custom(role='button', class='downClick') Shop Now &raquo;
        .item
          h1#header Check out the latest brands
          img(src='#{indexResults[3].LargeImage[0].URL[0]}')
          p
            a.btn-custom(role='button', class='downClick') Shop Now &raquo;
      a.carousel-control.left(href='#this-carousel-id', data-slide='prev') ‹
      a.carousel-control.right(href='#this-carousel-id', data-slide='next') ›









  form.form-signin(action="/search", method="post")
    h2.form-signin-heading Search Products
    input.input-block-level(type="text", name="title", id="product_name")
    span.glyphicon.glyphicon-search
    button.btn-custom(type="submit", id="submit", value="Search") Search

  .container-fluid


































