extends layout

block content
  h1= title
  p Welcome to #{title}
  #container.col

  form(action="/search", method="post")
        div.input
            span.label Product Name
            input(type="text", name="title", id="product_name")
        div.actions
            input(type="submit", id="submit", value="Search")

