doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap 2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap 2/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/bootstrap 2/js/bootstrap.min.js')
    script(src="javascripts/amazon-product-list.js")

  body
    block content

