doctype html
html
  head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src="javascripts/amazon-product-list.js")
    link(rel='stylesheet', href='/bootstrap 2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap 2/css/bootstrap-responsive.min.css')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,500,700' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content


