/**{
  outline: 1px solid red;
}*/

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

a {
  color: #410096;
  margin: 0 auto;
}

a:hover {
  color: #8680ba;
  margin: 0 auto;
  text-decoration: none;
}

p {
  text-align: center;
  margin: 0;
  /*padding-bottom: 5px;*/
  color: #410096;
  font-weight: bold;
  /*font-style: bold;*/
}

/* additional sections */
#home {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
  height: 500px;
  width: 500px;
}

#header {
  font-size: 50px;
  padding-bottom: 5px;
  line-height: 1;
  font-weight: 300;
  color: #410096;
  margin-top: 12%;
  text-align:center;
}

#search-header {
  font-size: 50px;
  padding-bottom: 5px;
  line-height: 1;
  font-weight: 300;
  color: #410096;
  margin-top: 1%;
  margin-bottom: 2%;
  text-align:center;
}


#product_name {
  border-radius: 15px;
  height: 40px;
  width:300px;
  font-size: 20px;
  padding-left: 25px;
  color:#333333;
  font-weight: 300;
  background-color: #ffe680;
  text-align: center;
  float: left;
  margin-right: 5px;
}

.navbar-form {
  width: 500px;
  margin: 0px;
}

#submit {
  font-size: 20px;
  overflow: hidden;
}

.container-fluid {
  margin-top: 80px;
  width: 100%;
}

.col-xs-6 {
  text-align: center;
  color: #410096;
  height: 350px;
  padding: 10px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}

.row {
  margin: 0 auto;
  overflow: hidden;
  margin: 15px;
}

.btn btn-primary btn-lg {
  background-color:#410096;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#product-description {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  /*padding: 15px;*/
  color:#410096;
  border-radius: 15px;
}

#heading-description {
  text-align: center;
}

.amazon-product-link {
  display: none;
  margin-left: 31%;
}

.btn-custom {
  background-color: #410096 !important;
  color: white;
  border-radius: 10px;
  padding: 12px;
  font-size: 22px;
  box-shadow: 8px 8px 3px #888888;
  font-weight: 300;
  display: inline-block;
}


.line_break {
  background-color:#410096;
  height: 1px;
  width: 100%;
  margin-bottom: 15px;
}

.col-xs-6:hover .product-image{
  opacity: 0.2;
}

.col-xs-6:hover .amazon-product-link{
  display: block;
}

.item {
  height:600px;
}

.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 5%;
}

.item.active img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 5%;
}

#this-carousel-id {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}


.navbar-fixed-top .navbar-inner {
  padding: 5px;
}




